<div class="container mt-3">
    <h3>
        Fans de los Minions
    </h3>
    <p>Lorem ipsum por aqui </p>
    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. At enim expedita earum iusto aperiam nobis error velit nam maxime, mollitia, accusamus culpa dolore ex accusantium tenetur! Rem iure adipisci Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nam est et eligendi accusamus deleniti, dolore officia blanditiis quasi. Fugiat tempore voluptate provident recusandae, veritatis excepturi fugit sed ratione! Repellat!
    </p>

<!--<div class="jumbotron jumbotron-fluid animated fadeIn fast">  <div class="container"> 
    <h1 class="display-4">Minioland</h1> 
    <p class="lead">Pon un Minion en tu vida.</p> 
    </div> 
   </div>-->
   
